@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body{
        @apply max-w-[2560px]
    }

    *{
        @apply transition-all duration-500 outline-[#65B741] ring-[#65B741] selection:bg-[#6A6AF1] selection:text-gray-200 scroll-smooth;
    }

    img {
        @apply object-cover min-w-full w-full h-auto;
    }

    ::-webkit-scrollbar{
        @apply hidden;
    }

    td input, td select{
        @apply outline-none border-none;
    }

    ::-webkit-scrollbar{
        @apply hidden;
    }

    tr:nth-child(2n){
        @apply bg-gray-100
    }

    tr:nth-child(n+2){
        @apply hover:bg-orange-100;
    }

    .navigation{
        @apply flex max-lg:flex-col justify-around max-lg:justify-between max-lg:px-8 items-center gap-4 p-3 w-full shadow-sm backdrop-blur-md bg-white bg-opacity-30 max-w-[2048px] mx-auto lg:overflow-x-hidden max-lg:h-16
        transition-height duration-500 sticky top-0 left-0;
    }

    .logo{
        @apply select-none font-bold text-3xl text-nowrap;
    }

    .links{
        @apply flex max-lg:flex-col lg:gap-4 font-medium max-lg:w-full max-lg:scale-0 overflow-hidden max-lg:bg-white max-lg:divide-y max-lg:divide-gray-200 max-lg:mb-1 origin-top select-none;
    }

    .link{
        @apply capitalize font-semibold text-gray-800 hover:text-[#65B741] focus:outline focus:outline-2 focus:rounded-sm min-w-24 flex items-center justify-center p-2 px-4 rounded-md hover:shadow-md;
    }

    .simple-btn{
        @apply flex items-center justify-center border-2 border-[#65B741] p-2 px-4  font-medium rounded-md hover:scale-105 select-none;
    }

    .btn{
        @apply simple-btn text-gray-200 bg-[#65B741];
    }

    .btn-hover{
        @apply simple-btn text-[#65B741] hover:bg-[#65B741] hover:text-gray-200;
    }

    #toggler{
        @apply w-full h-1 bg-gray-700 relative lg:hidden duration-500
    }

    #toggler::before{
        content: '';
        @apply w-full h-full bg-gray-700 absolute -top-3 left-0 duration-500
    }

    #toggler::after{
        content: '';
        @apply w-full h-full bg-gray-700 absolute top-3 left-0 duration-500
    }

    #toggler.rotate{
        content: '';
        @apply bg-transparent;
    }

    #toggler.rotate::before{
        content: '';
        @apply w-full h-full bg-gray-700 absolute top-0 left-0 rotate-[45deg] origin-center
    }

    #toggler.rotate::after{
        content: '';
        @apply w-full h-full bg-gray-700 absolute top-0 left-0 -rotate-[45deg] origin-center
    }

    .bg-primary{
        @apply bg-[#65B741]
    }

    .text-primary{
        @apply selection:bg-gray-300 selection:text-[#65B741] text-[#65B741];
    }

    .text-card{
        @apply flex flex-col justify-center gap-2 min-h-32 rounded-md p-8 bg-gray-100 max-md:order-4 text-lg max-md:text-center;
    }

    /* Limiter le nombre de mots par ligne pour améliorer la lisibilité */
    .text-card h1 {
        @apply overflow-hidden;
        max-width: 50ch; /* Approximativement 10-12 mots par ligne */
    }

    .avis-card{
        @apply p-4 pb-6 max-w-96 min-w-72 max-sm:max-w-full min-h-32 shadow-md rounded-md shadow-gray-300 hover:scale-105 border border-slate-300
    }
    
}